{% extends '/StudentGrading/home.html.twig' %}



{% block body %}


	{% for flashMessage in app.session.flashbag.get('danger') %}
    	<div class="alert alert-danger">{{ flashMessage }}</div>
	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}
    	<div class="alert alert-success">{{ flashMessage }}</div>
	{% endfor %}


	{{form_start(form)}}
  	{{form_widget(form)}}
  	{{form_end(form)}}

	<h2 class="page-header">Search result</h2>

	<table class="table table-striped" > 
		<thead> 
			<tr bgcolor="#e3f2fd"> 	
				<th>JMBG</th>
				<th>Average grade</th>
				<th>JSON</th>
				<th></th>
			</tr> 
		</thead> 
		<tbody >
			
			<tr > 	
				<td bgcolor="#e3f2fd">{{studentId}}</td>		
    			<td bgcolor="#e3f2fd">{{avg}}</td>
				<td bgcolor="#e3f2fd">
                {% if avg %}
					<a href="{{ path('average_grades_jmbg', {'jmbg': studentId}) }}">Show</a>
                {% endif %}
				</td>
			</tr> 
			
		</tbody>



	</table>

{% endblock %}