{% extends '/StudentGrading/home.html.twig' %}

{% block body %}
   
      <h1 class="display-3">Welcome to student grading application!</h1>
        
        <ul style="list-style-type:square">
		  <li>To add a grade to a specific student go to "Add grades".</li>
		  <li>To search for an average grade for specific student go to "Average grades".</li>

		</ul>
  

{% endblock %}
