{% extends '/StudentGrading/home.html.twig' %}

{% block body %}
  <h2 class="page-header">Insert student identification number (Jmbg) and grade</h2>

	{% for flashMessage in app.session.flashbag.get('danger') %}
		<div class="alert alert-danger">{{ flashMessage }}</div>
	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success">{{ flashMessage }}</div>
	{% endfor %} 
  
  {{form_start(form)}}
  {{form_widget(form)}}
  {{form_end(form)}}

{% endblock %}