<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Student grading application{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    {% block stylesheets %}{% endblock %}
    

  <body style="background-color: #e3f2fd;">

    <nav class="navbar navbar-inverse bg-inverse" >
           
        <ul class="nav navbar-nav ">
          <li >
            <a  href="http://localhost:8000/home">Home </a>
          </li>
          <li >
            <a  href="http://localhost:8000/home/add_grades">Add grades </a>
          </li>
          <li>
            <a href="http://localhost:8000/home/average_grades">Average grades</a>
          </li>
             
        </ul>
        
    </nav>


    <div class="container-fluid">

      {% block body %}{% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
 
  </body>
</html>

